@font-face {
    font-family: 'fs gravity';
    src: url('fsgravity.woff2') format('woff2'),
        url('fsgravity.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

